* {
    padding: 0;
    margin: 0;
    background-color: black;
}

.page {
    width: 600px;
    margin: 0 auto 0 auto;
}

.head {
    height: 70px;
    width: 100%;
    background-color: #32394a;
}

.pic {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    background-color: #32394a;
}

.return {
    float: left;
    margin-left: 30px;
    background-image: url(../img/返回.png)
}

.shopping {
    float: right;
    margin-right: 25px;
    background-image: url(../img/购物车.png);
}

.text {
    display: inline-block;
    margin-left: 40px;
    padding-top: 20px;
    font-size: larger;
    color: white;
    background-color: #32394a;
}

.banner {
    height: 270px;
    width: 100%;
}

img {
    height: 100%;
    width: 100%;
}