* {
    padding: 0;
    margin: 0;
}

.content {
    width: 100%;
    background-color: black;
}

.page {
    width: 600px;
    margin: 0 auto 0 auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
}

.head {
    height: 70px;
    width: 100%;
    background-color: #32394a;
}

.icon {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    background-size: 100% 100%;
}

.return {
    float: left;
    margin-left: 30px;
    background-image: url(../img/返回.png);
}

.shopping {
    float: right;
    margin-right: 25px;
    background-image: url(../img/购物车.png);
}

.text {
    display: inline-block;
    margin-left: 40px;
    padding-top: 20px;
    font-size: 23px;
    color: white;
}

.banner {
    height: 270px;
    width: 100%;
    background-image: url(../img/banner.jpg);
    background-size: cover;
}

.dots {
    position: absolute;
    margin-top: 250px;
    margin-left: 550px;
    background-color: transparent;
}

.dots1,
.dots2,
.dots3 {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.dots1,
.dots2 {
    background-color: #343f3e;
}

.dots3 {
    background-color: #c2cdc8;
}

.tags {
    height: 200px;
    width: 100%;
    background-color: white;
}

.tags-line {
    height: 90px;
    width: 100%;
}

.tags-line a {
    display: inline-block;
    height: 40%;
    width: 30%;
    margin-left: 2%;
    margin-top: 5%;
    padding-top: 2%;
    border: 1px solid rgb(235, 233, 233);
    border-radius: 25px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.tags-line a:hover {
    background-color: #ff2d50;
    color: white;
}